* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
  }
  
  :root {
    --primary: #2A7AE4;
    --black: #000000;
    --blackLighter: #9E9E9E;
    --grayLight: #F5F5F5;
    --grayMedium: #e5e5e5; 
    --white: #FFFFFF;
    --frontEnd: #6BD1FF;
    --backEnd: #00C86F;
  }
  
  html,
  body {
    margin: 0;
    padding: 0;
    /* background-image: url(https://images.pexels.com/photos/4064432/pexels-photo-4064432.jpeg?cs=srgb&dl=aventura-facanha-ceu-nublado-campo-4064432.jpg&fm=jpg);
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-attachment: fixed; */
    background-color: black;
}
@media (max-width: 382px) {
  body{
    background-size: auto 100%;
  }
} 
  
  a {
    color: inherit;
  }
  
  #root {
    display: flex;
    flex-direction: column;
    flex: 1;
  }
